
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 500px;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.search-bar-2 {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100px;
}

.search-bar-2 input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 500px;
}

.search-bar-2 button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.content {
  padding: 40px 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.MyPeerAdvisorHeader {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.profileCardLayout {
  display: flex;
  align-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 10px;

  /* max-width: 1000px; */
  background-color: rgb(233, 232, 232);
  /* gap: 50px; */
  padding-bottom: 10px;
  margin-bottom: 2rem;
}

.ratingLayout {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 30px 100px 45px 40px;
}

.ratingHeader {
  align-self: center;
  padding-bottom: 4px;

}

.ratingText {
  font-size: 23px;
  font-weight: 200;
  margin-left: 26px;

}

.ratingNumberText {
  font-size: 40px;
  font-weight: 800;
  /* margin: 0px 20px 0px 15px; */
  background-color: rgb(76, 224, 76);
  padding: 25px;
}

.ratingFooter {
  padding-top: 21px;

  :global {
    &.ant-btn {
      font-size: 16px !important;
      height: 32px;
      padding: 2px 11px !important;
      border-radius: 6px;
    }

  }
}

.profileBody {
  margin-top: 6px;

  & h1 {
    font-size: 45px;
  }

  font-size: 16px;
  font-weight: 500;
  padding-right: 20px;
}

.reviewNumText {
  margin-left: 20px;
}

.profilePageLayout {
  padding: 20px 250px;
}

.userRatingLayout {
  display: flex;
  flex-direction: column;
  padding: 30px 100px 45px 20px;
}

.userRatingNumberText {
  font-size: 35px;
  font-weight: 800;
  background-color: rgb(76, 224, 76);
  padding: 20px;
  margin-left: 5px;
}

.userRatingText {
  font-size: 18px;
  font-weight: 200;
  margin-left: 26px;
}

.goodRating {
  background-color: rgb(76, 224, 76);
}

.okRating {
  background-color: rgb(245, 173, 6);
}

.badRating {
  background-color: rgb(224, 70, 70);
}

.userProfileBody {
  margin-top: 6px;

  & h1 {
    font-size: 30px;
  }

  font-size: 16px;
  font-weight: 400;
  padding-right: 40px;
  /* max-width: 750px; */
}

.numOfUserReviews {
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  max-width: 119px;
  padding: 5px;
  align-self: left;
  background-color: rgb(223, 222, 222);
  border-radius: 5px;
}

.result-columns {
  display: flex;
}


.professor-list, .course-list {
  flex: 1;
  padding: 10px;
}


.professor-list {
  background-color: #f0f0f0;
}


.course-list {
  background-color: #e0e0e0;
}