

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 500px;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.content {
  padding: 40px 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.MyPeerAdvisorHeader {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.profileCardLayout {
  display: flex;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  /* gap: 50px; */
}

.ratingLayout {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 30px 100px 45px 40px;
}

.ratingHeader {
  align-self: center;
  padding-bottom: 4px;

}

.ratingText{
  font-size: 23px;
  font-weight: 200;
  margin-left: 26px;

}

.ratingNumberText {
  font-size: 40px;
  font-weight: 800;
  /* margin: 0px 20px 0px 15px; */
  background-color: rgb(76, 224, 76);
  padding: 30px;
}

.ratingFooter {
  padding-top: 10px;
  
}

.profileBody {
  margin-top: 18px;
  & h1 {
    font-size: 45px;
  }
  font-size: 16px;
  font-weight: 500;
}

.reviewNumText {
  margin-left: 20px;
}