

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 500px;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.content {
  padding: 40px 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.MyPeerAdvisorHeader {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.profileCardLayout {
  display: flex;
  /* gap: 50px; */
}

.ratingLayout {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.ratingHeader {
  align-self: center;
  padding-bottom: 4px;
}