/* @tailwind base;
@tailwind components;
@tailwind utilities;

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Content Section */
.content {
  padding: 40px 0;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.MPAHeader {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
