@tailwind base;
@tailwind components;
@tailwind utilities;

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.search-bar input {
  margin-right: 10px;
}
